


/* main layout */

#body-wrapper {
    width: 100%;
    position: relative;
    text-align: left;
}	    

#header-container {
    width: 100%;
}

header {
    clear: both; /* nothing floats next to the title */
    text-align: center;
}

#content-container {
    width: 100%
}

#main-content {
    width: 70%;
    margin: 0 auto;
}


/* form inputs */
input {
    display: block; /* stacked fields */
}


