<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  {% endblock head %}
  
  {% block stylesheets %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "signup/signup.css" %}" media="all">
  {% endblock %}
</head>

<body>
  <div id="body-wrapper">

    <div id="header-container">
      {% block header-container %}
      <header>
	<h1>Cabin and Trail Trip Signup</h1>
	<h2>Get outside!</h2>

	{% if user.is_authenticated  %}
	{{ user.username }}
	{% else %}
	<a href="{% url 'login' %}?next={% firstof request.path %}"> Login </a>
	{% endif %}
	
      </header>
      {% endblock %}
    </div>

    <div id="content-container">
      <div id="main-content">
	{% block content_container %}
	{% endblock %}
      <div>
    </div>

    <div id="footer-container">
      {% block footer-container %}
      {% endblock %}
    </div>

  </div>
</body>

</html>
